/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.sass */
body {
  background: #f7f5f5 url(http://passets-ec.pinterest.com/images/paper.jpg) repeat;
}

/* line 11, ../sass/screen.sass */
#chooser {
  background-color: white;
  margin: 20px;
  border: gray 1px solid;
  border-radius: 5px;
  width: 800px;
  padding: 20px;
}

/* line 19, ../sass/screen.sass */
#items {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  width: 100%;
}
/* line 60, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#items li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#items li:first-child, #items li.first {
  padding-left: 0;
}
/* line 49, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#items li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#items li.last {
  padding-right: 0;
}
/* line 23, ../sass/screen.sass */
#items li {
  height: 350px;
  width: 33%;
  margin: 0;
  padding: 0;
}
/* line 29, ../sass/screen.sass */
#items li img {
  background-color: gray;
  max-width: 100%;
  max-height: 75%;
  display: block;
  margin: 0 auto;
}

/* line 36, ../sass/screen.sass */
.item {
  border: gray 1px solid;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}
/* line 42, ../sass/screen.sass */
.item:hover {
  border-color: #0088cc;
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
  cursor: pointer;
}

/* line 47, ../sass/screen.sass */
.selected {
  border-color: #00cc88;
}

/* line 50, ../sass/screen.sass */
.image {
  background-color: #f2f0f0;
}
