{% extends "_base.html" %}

{% block body %}
<div id="chooser">
    <h1>Vote for your favorite piece</h1>
    <ul id="items">
        <li>
            <div class="item">
                <img src="">
                <p>Item 1</p>
            </div>
        </li>
        <li>
            <div class="item">
                <img src="">
                <p>Item 2</p>
            </div>
        </li>
        <li>
            <div class="item">
                <img src="">
                <p>Item 3</p>
            </div>
        </li>
    </ul>
    <!-- need to get email here -->
    <div class="facebook">
    </div>
</div>
<section class="clearfix" id="samples">
      <h1>Examples of the Facebook Graph API</h1>
      <div class="list">
        <h3>A few of your friends</h3>
        <ul class="friends">{% for friend in friends.data %}
        <li>
          <a href="#" onclick="window.open('http://www.facebook.com/{{friend.id}}')">
            <img src="https://graph.facebook.com/{{friend.id}}/picture" alt="{{friend.name}}">
            {{friend.name}}
          </a>
        </li>{% endfor %}</ul>
      </div>
      <div class="list inline">
        <h3>Recent photos</h3>
        <ul class="photos">
          {% for photo in photos.data %}
            {% if loop.index0%4 == 0 %}
          <li class="first-column" style="background-image: url({{photo.picture}})">
            {% else %}
          <li style="background-image: url({{photo.picture}})">
            {% endif %}
            <a href="#" onclick="window.open('http://www.facebook.com/{{photo.id}}')">
              {{photo.name}}
            </a>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="list">
        <h3>Things you like</h3>
        <ul class="things">{% for like in likes.data %}
        <li>
          <a href="#" onclick="window.open('http://www.facebook.com/{{like.id}}')">
            <img src="https://graph.facebook.com/{{like.id}}/picture?type=square" alt="{{like.name}}">
            {{like.name}}
          </a>
        </li>{% endfor %}</ul>
      </div>
      <div class="list">
        <h3>Friends using this app</h3>
        <ul class="friends">{% for friend in app_friends %}
        <li>
          <a href="#" onclick="window.open('http://www.facebook.com/{{friend.uid}}')">
            <img src="https://graph.facebook.com/{{friend.uid}}/picture?type=square" alt="{{friend.name}}">
            {{friend.name}}
            </a>
        </li>{% endfor %}</ul>
      </div>
    </section>
{% endblock %}
